:root {
    --theme-color1: #e3adc1;
    --theme-color2: #a34339;
    --theme-color3: #bb797e;
    --theme-color4: #535531;
    --theme-color5: #d2c3c9;
    --theme-color6: #f4eaec;

    --color-background: #464646; /* ダークグレー */
    --color-text: #faf9f6; /* オフホワイト */

    --color-primary: #e3adc1;
    --color-secondary: #bb797e;
    --color-error: #a34339;
    --color-success: #535531;
    --color-warning: #d2c3c9;
}
